[submodule "submodules/wofi"]
	path = submodules/wofi
	url = https://github.com/daviiiL/wofi
[submodule "submodules/anyrun"]
	path = submodules/anyrun
  url = https://github.com/daviiiL/anyrun
  branch = catppuccin
[submodule "submodules/sway"]
	path = submodules/sway
  url = https://github.com/daviiiL/sway
  branch = laptop
